@model ClinicaWebSite.Models.Medico
@{
    ViewData["Title"] = "Delete Medico";
}
    <h1>@Model.Nombre @Model.Apellido</h1>
  

    @using (Html.BeginForm("Delete", "Medico", FormMethod.Post))
    {
        <div>
            <span>@Html.DisplayNameFor(model=>model.Matricula):</span>
            <span>@Html.DisplayFor(model=>model.Matricula)</span>
        </div>

        <p>¿Desea eliminar este médico?</p>
        <input type="submit" action="Delete" />

        @Html.ActionLink("Volver","Index","Medico")

    }
